@import '../src/styles/style-variables/default_variables';

/* Reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

/* --------------------------------------------------------------------- */
/* Global styles */
body {
  position: relative;
  margin: 0;
  font-family: 'Lato', 'Montserrat', sans-serif;
  background-color: #F4F4F7;
}

body * {
  box-sizing: border-box;
  line-height: 1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh + 1px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/*------------------------------------------------------------------------------*/
/*Раздел main выполнен стандартным способом внутри данного файла с использованием правил методики БЭМ*/

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 1172px;
  
  @media (max-width: $MobileTop) {
    justify-content: flex-start;
    padding-left: 15px;
  }
}

.presentation {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  padding: 103px 0 202px 0;
  background-image: url(backgrounds/main_bg.png);

  @media (max-width: $MobileTop) {
    padding: 100px 15px 32px 15px;
  }

}

.presentation__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: #000;
}

.presentation__title {
  max-width: 780px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;


  & span {
    color: #3399E5;
  }
}

.presentation__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.presentation__list-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.presentation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.presentation__item {
  padding-left: 17px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

}

.presentation__item::before {
  content: '-';
  position: relative;
  left: -5px;
}

.presentation__button-wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: $MobileTop) {
    flex-direction: column;
    gap: 15px;
  }
}

.button {
  min-width: 183px;
  padding: 15px 10px 15px 10px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid black;

  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    transition: all 0.3s;
    color: #ccc;
  }

  &:active {
    transition: all 0.3s;
    color: #999999;
  }

  &:disabled {
    transition: all 0.3s;
    cursor: auto;
    background-color: #a1a1a1;
    color: #c9c9c9;
  }

  &--blue {
    background-color: #3E9CDC;

    &:hover,
    &:focus {
      background-color: #03349e;
    }
  
    &:active {
      background-color: #03349e;
    }
  }
}

/*---------------------------------------------------------------------------------*/
/*Оформление заказа*/

.order {
  display: flex;
  background-image: url(backgrounds/order_bg.png);
  background-color: rgba(0, 0, 0, 0.85);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  padding: 121px 15px 150px 15px;
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  text-transform: uppercase;
  color: #Fff;

  & span {
    color: #3E9CDC;
  }
}

.order__scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.order__scheme-title {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  color: #BBBBBB;
}

.order__scheme-path {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  & svg {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
  }
}

.order__path-item {
  display: flex;
  gap: 13px;
  align-items: flex-start;

  &:last-child .order__dots-wrapper {
    display: none;
  }
}

.order__path-item div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & > span {
    max-width: 162px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    word-break: keep-all;
  }
}

.order__dots-wrapper {
  display: flex;
  gap: 10px;

  & .order__dots {
    flex-shrink: 0;
    transform: translateY(50px);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #Fff;

    @media (max-width: $MobileTop) {
      display: none;
    }
  }
}

/*-------------------------------------------------------------------------------------*/
/*Форма*/
.order__form {
  width: 100%;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-areas: 
    "select email name"
    "range range file" 
  ;

  @media (max-width: $MobileTop) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "select" 
    "email" 
    "name"
    "range" 
    "file" 
    ;
  }
 
}

.input {
  border: 1px solid #fff;
  height: 48px;
}

.form__input-range {
  grid-area: range;
}

.form input {
  width: 100%;
  height: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  &::placeholder {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #272733;

  }

  &:focus::placeholder {
    opacity: 0;
    color: transparent;
  }
}

.form input[name="file"] {
  display: none;
  border-radius: 3px;

  & ~ label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    background-color: #fff;
    cursor: pointer;

    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;

    &:hover {
      background-color: #ccc;
    }

    &::before {
      content: '';
      width: 17px;
      height: 20px;
      background-image: url(svg/file.svg);
    }
  }
}