@import '/src/styles/style-variables/default_variables';


.selectContainer {
  position: relative;
}

.selectButton{
  position: relative;
  // z-index: 2;
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  min-height: 42px;
  padding: 11px 31px 11px 15px;
  border: 1px solid #c9c9c9;
  border-radius: 24px;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;

  & svg {
    flex-shrink: 0;

    & path {
      transition: all 0.3s;
    }
  }

  @media (max-width: $MobileTop) {
    min-height: 32px;
    padding: 7px 31px 7px 11px;
  }

  &:hover {
    border-color: #a1a1a1;
  }

  &:focus {
    border-color: #3069e5;
    box-shadow: 0 0 4px 0 rgb(14 70 192 / 40%);
  }

  &:disabled {
    border-color: #c9c9c9;
    background-color: #eaeaea;
    cursor: auto;

    & span {
      color: #c9c9c9;
    }

    & > svg path {
      fill: #c9c9c9;
    }
  }

  & > svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transition: all 0.3s;
    transform: translateY(-50%);

    & path {
      transition: all 0.3s;
    }
  }
}

.selectButtonActive svg {
  transform: translateY(-50%) rotate(180deg)
}

.selectButtonText {
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  transition: all 0.3s;
  color: #000;

  @media (max-width: $MobileTop) {
    font-size: 12px;
    line-height: 16px;
  }
}

.selectMenu {
  position: absolute;
  top: 46px;
  right: 0;
  left: 0;
  // z-index: 1;
  max-height: 300px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%);
  overflow: auto;
  transition: all 0.3s;
  opacity: 0;
  display: none;
  transform: translateY(-10px);
      

  @media (max-width: $MobileTop) {
    top: 36px;
  }
}

.selectMenuOpened {
  opacity: 1;
  display: block;

  transform: translateY(0);
}

.menuList {
  display: grid;
  justify-items: start;
  transition: all 0.3s;
  grid-template-rows: repeat(5, 0fr);
  padding: 0;
  pointer-events: none;
}

.menuListOpened {
  grid-template-rows: repeat(5, 1fr);
  padding: 10px 0;
}

.menuItem {
  width: 100%;
  overflow: hidden;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background-color: #f4f4f7;
  }

  @media (max-width: $MobileTop) {
    padding: 12px;
  }
}

.menuButtonText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  transition: all 0.3s;

  @media (max-width: $MobileTop) {
    font-size: 12px;
    line-height: 16px;
  }
}

.menuButtonTextActive {
  color: #272727;
  font-weight: 700;
}

.menuButtonTextClosed {
  color: transparent;
}
