.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.slider {
    border-radius: 5px;
    background: #FFFFFFB2;
    height: 13px;
    width: 100%;
  }
  
  .thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    left: 350px;
    top: -5px;
    background: #42A9ED;
    border: 3px solid#286690;
    cursor: pointer;
  }