.navListItem{
  display: flex;
}

.navListLink {
  padding: 5px 7px;
  
  font-family: 'Lato', 'Montserrat','Verdana', 'sans-serif';
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  text-decoration: none;

  @media (max-width: 767px) {
      padding-right: 24px;
      padding-left: 24px;
      border-radius: 0;
  }

  &:hover {
    color: #ccc;
    transition: color 0.3s;
  }
  
  &:focus {
    transition: color 0.3s;
    outline: none;
  }
}

.navListItem.active a {
  color: #43ABF0;
}
